/* FONTS */

@font-face {
	font-family: 'Dancing';
	font-style: normal;
	font-weight: 100;
	src: local('Dancing Script'), local('Dancing Script'), url(../assets/fonts/Dancing_Script_regular.ttf);
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url(../assets/fonts/Roboto.ttf);
}
@font-face {
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 400;
	src: local('Arvo'), local('Arvo-Regular'), url(../assets/fonts/Arvo_regular.ttf);
}
@font-face {
	font-family: 'Roboto condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto condensed'), local('Roboto condensed'), url(../assets/fonts/Roboto_Condensed.ttf);
}

/* FIN DES FONTS */

body{
	background-color: rgb(51,51,51);
}
.inner-wrap{
	background-color: white;
}
/* HEADER */

.top-bar .name h1 a {
	font-family: 'Dancing' ,sans-serif;
	font-size: 1.5em;	
	color : white;
}
#MenuModal {
	display: none;
}
.persoHeight {
	height: 372px;
}
.top-bar .name h1, .top-bar-section ul li > a{
	font-size: 1.1em;
	font-family: 'Roboto' ,sans-serif;
}
.top-bar .name h1 a {
	font-family: 'Dancing' ,sans-serif;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #ff8b00;
	cursor:pointer;
}
.top-bar form {
	padding:0;
}
.button.datepicker-close.small.alert.right {
	display: none;
}
.large-12.columns.text-center .button.radius {
	margin-top: 2vh;
}
#container {
	display: none;
}
.none {
	display: none;
}
/* FIN HEADER */

h2 {
	margin: 0;
}
.parts {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}
.background {
	background: url(../assets/img/background.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
.fond2 {
	background: url(../assets/img/fond.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
.fond3 {
	background: url(../assets/img/fond3.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
.chef {
	background: url(../assets/img/fond1.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
.menu {
	background: url(../assets/img/menu.png) no-repeat center fixed;
	background-color: white;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	text-align: center;

}

.contact {
	background: url(../assets/img/fond4.jpg) no-repeat center fixed;
	background-color: white;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	text-align: center;

}

.footer {
	background: url(../assets/img/mapBackground.png);
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30vh;
	max-width: none;
}
.footerBis {
	background-color: rgb(51,51,51);
	padding-top: 3%;
}
.main-section{
	position: relative;
}
.loading{
	position: absolute;
	top: 50%;
	bottom: 50%;
	right:50%;
	left: 50%;
	margin:-16px -16px -16px -16px;
	z-index: 10000;
	height: 32px;
	width: 32px;
	background-image: url("../assets/img/ajax-loader-2.gif");
	background-repeat: no-repeat;
}

.t1 {
	padding-top: 3%;
	font-family:'Arvo', sans-serif;
	color : white;
	font-size:2em;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	
}
.t2 {
	font-size:6em;
	color : white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-family:'Dancing', sans-serif;
}
.t3 {
	color : white;
	font-family:'Roboto', sans-serif;
	font-weight: bold;
}

.titletable{
	color : black;
	font-family:'Roboto', sans-serif;
	font-weight: bold;
	padding-top: 1em;
}
.arrowContainer {
	position: absolute;
	bottom:10%;
	width: 100%;
	text-align: center;
	padding: 1em;
}

.slider {
	position: absolute;
	top : 0%;
	width: 100%;
	text-align: center;

}

#back-top {
	position: fixed;
	bottom: 20px;
	right: 2%;
	z-index: 100; 
}

/* DATATABLES */

#table tbody tr td {
	line-height: 4em;
}

.dataTables_wrapper .dataTables_filter input{	
	padding:0;
}

/* FIN DATATABLES */
/* ALERTS */
.alert-box .close{
	padding: 0.5rem 6px 10px;
}
.flash{
	line-height:1em;
}
.alert-box{
	padding: 0.875rem 1.5rem 0rem 0.875rem;
}

#mainAlert4 {
	position: fixed;
	top:55px;
	right:15%;
	left:15%;
	z-index: 2;
}
/* FIN ALERTS */

/* RESERVATION STEPS */
.step2, .step3, .step4{
	display: none;
}
.button{
	margin: 0 0.5 1.25rem;
}
/* END RESERVATION STEPS */
/* SMALL SCREENS */


@media only screen and (max-width: 64em) {
	.top-bar {
		display: none;
	}
	.tab-bar {
		display: block;
	}
	img[alt="View"] {
		width: 182px;
		height: 182px;
	}
	.parts.exception {
		height: 100%;
	}
	.tab-bar h1 a{
		font-family: 'Dancing' ,sans-serif;
		font-size: 1.5em;	
		color : white;
	}
	
} /* max-width 1024px, mobile-only styles, use when QAing mobile issues */

	/* LARGE SCREENS */
	@media only screen and (min-width: 64.063em) and (max-width: 100em) { 
		.top-bar {
			display: block;
		}
		.tab-bar {
			display: none;
		}
		.parts.exception {
			height: 100%;
		}
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */