/* FONTS */
@font-face {
	font-family: 'Dancing';
	font-style: normal;
	font-weight: 100;
	src: local('Dancing Script'), local('Dancing Script'), url(../assets/fonts/Dancing_Script_regular.ttf);
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url(../assets/fonts/Roboto.ttf);
}
@font-face {
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 400;
	src: local('Arvo'), local('Arvo-Regular'), url(../assets/fonts/Arvo_regular.ttf);
}
@font-face {
	font-family: 'Roboto condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto condensed'), local('Roboto condensed'), url(../assets/fonts/Roboto_Condensed.ttf);
}
/* FIN DES FONTS */

/* HEADER */
.top-bar .name h1, .top-bar-section ul li > a{
	font-size: 1.5em;
	font-family: 'Dancing' ,sans-serif;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #ff8b00;
	cursor:pointer;
}
