/* CSS RESET*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
body {
	line-height:1
}
ol,ul {
	list-style:none
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:none
}
table {
	border-collapse:collapse;
	border-spacing: 0
}
/* FIN DU RESET */

/* FONTS */
@font-face {
	font-family: 'Dancing';
	font-style: normal;
	font-weight: 100;
	src: local('Dancing Script'), local('Dancing Script'), url(fonts/Dancing_Script_regular.ttf);
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url(fonts/Roboto.ttf);
}
@font-face {
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 400;
	src: local('Arvo'), local('Arvo-Regular'), url(fonts/Arvo_regular.ttf);
}
@font-face {
	font-family: 'Roboto condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto condensed'), local('Roboto condensed'), url(fonts/Roboto_Condensed.ttf);
}
/* FIN DES FONTS*/

/* HEADER */


header li, header h1{
	display:inline-block;
	color:white;
	font-family: 'Dancing' ,sans-serif;
}
header h1{
	font-size: 2em;
	padding : 0 0 0 1%;
	vertical-align:bottom;
}

header ul{
	display:inline-block;
	float:right;
	
}
header li{
	padding: 13px;
	font-size:1.5em;
	
}
header li:hover{
	background-color: #ff8b00;
	cursor:pointer;
}
header li:hover .hoverLogin{
	display:block;
}
.container img{
	margin-top:.5%;
}
header {
	
	background: rgb(31, 31, 31);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	height: 50px;
	min-height: 40px;
	min-width:100%;
	
}
.container{
	padding: 0 8% 0 8%;
	
}
.hoverLogin{
	position : fixed;
	top: 50px;
	right:8%;
	border: solid #ff8b00;
	border-width: 4px 1px 1px 1px;
	background: rgb(255,255,255);
	color : black;
	padding: 10px;
	font-size: .8em;
	font-family: 'Roboto' sans-serif;
	line-height:23px;
	display:none;
	cursor:auto;
	padding-right:2%;
}
.hoverLogin p{
	margin-bottom:15px;
}


input[type=text]{
	border: 1px solid #c9c9c9;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	border-radius:5px;
	line-height:200%;
}
input[type=submit]{


	-moz-box-shadow:inset 0px 1px 0px 0px #ffc073;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffc073;
	box-shadow:inset 0px 1px 0px 0px #ffc073;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffa940), color-stop(1, #ff8c00));
	background:-moz-linear-gradient(top, #ffa940 5%, #ff8c00 100%);
	background:-webkit-linear-gradient(top, #ffa940 5%, #ff8c00 100%);
	background:-o-linear-gradient(top, #ffa940 5%, #ff8c00 100%);
	background:-ms-linear-gradient(top, #ffa940 5%, #ff8c00 100%);
	background:linear-gradient(to bottom, #ffa940 5%, #ff8c00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa940', endColorstr='#ff8c00',GradientType=0);
	background-color:#ffa940;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #bf7f30;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto condensed' arial sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a65b00;
}

input[type=submit]:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff8c00), color-stop(1, #ffa940));
	background:-moz-linear-gradient(top, #ff8c00 5%, #ffa940 100%);
	background:-webkit-linear-gradient(top, #ff8c00 5%, #ffa940 100%);
	background:-o-linear-gradient(top, #ff8c00 5%, #ffa940 100%);
	background:-ms-linear-gradient(top, #ff8c00 5%, #ffa940 100%);
	background:linear-gradient(to bottom, #ff8c00 5%, #ffa940 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c00', endColorstr='#ffa940',GradientType=0);
	background-color:#ff8c00;
}


/* FIN HEADER*/

.background { 
	margin: 0;
	padding:0;
	width:100%;
	height:100vh;
	background: url(images/background.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
.arrowContainer{
	text-align:center;
	margin-top:10%;
	vertical-align:text-bottom;
	
}
.arrowContainer img{
	color:#ff9c00;
	
}
.background h2{
	padding: 10% 10% 0 10%;
	font-family:'Arvo', sans-serif;
	color : white;
	font-size:2em;
	text-align:center;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	
}
.background h2 em{
	font-size:3em;
	font-family:'Dancing', sans-serif;
	display:block;
	padding: 5% 0 6% 0;
	
}


.menu {
	text-align: center;
	margin : auto;
	background-image: url(images/menu.png);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.menu h2 {
	padding: 5% 10% 3% 10%;
	font-family:'Arvo', sans-serif;
	color : black;
	font-size:2.5em;
	
}

.menu strong {
	font-size:1.5em;
	font-family:'Dancing', sans-serif;
	display:block;
}

.menu h1 {
	font-size: 5em;
	font-family:'Dancing', sans-serif;
	display:block;
	padding: 5% 0% 5% 0%;
}

.menu h3 {
	font-weight: bold;
	padding: 1% 0% 0% 0%;
}

.menu h4 {
	font-style: italic;
}

/* FOOTER */
footer{
	padding: 1.5% 10% 1.5% 10%;
	background-color:rgb(31,31,31);
	text-align:center;
}
footer div{
	display:inline-block;
	padding: 0 2.5%;
	color:white;
	font-family:'Arvo' sans-serif;
	text-transform:uppercase;
}
footer a{
	color:#ff8b00;
	text-decoration:none;
}


/* FIN FOOTER */