/* //////////  FORM RESERVATION ////////// */
/* ///////// FORM BOX ///////// */
#popup, #recap_resa
{	
	background-image: url(../images/fondForm.jpg); no-repeat center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;;
	border: 2px solid black;
	border-radius: 10px;
	width: 250px;
	height: 410px;
	text-align: left;
	display: none;
	position: absolute;
	top: 10%;
	left: 40%;
}
	#popup img, #recap_resa img
	{
		width: 20px;
		height: 20px;
		padding-right: 10px;
	}

	#popup p:nth-child(n+1) , #recap_resa p:nth-child(n+1) 
	{
		border-bottom: 2px solid black; 
		padding-left: 20px;
		padding-bottom: 15px;
	}

	#popup p:last-child , #recap_resa p:last-child
	{
		border-bottom: 0;
		padding-bottom: 15px;
		margin: 0;
	}
/* ///////// END FORM BOX /////////*/
	
/* ////////// FIRST FORM LINE //////////*/
header
{
	border-bottom: 2px solid black;
	text-align: center;
}

	header div
	{
		padding-top: 15px;
		padding-bottom: 15px; 
	}
/* ////////// END FORM FIRST LINE //////////*/

/* ///////// FORM INPUTS ///////// */
input 
{
	padding: 3px 6px;
	border: 1px solid #c1bfbc;
	border-radius: 4px;
}
/* ////////// END FORM INPUTS ////////// */

/* ////////// LAST  FORM LINE ////////// */
footer
{
	text-align: center;
}
/* ////////// END LAST FORM LINE ////////// */

